$ git add README;
.fun-background {
    display: flex;
  }
  
  .fun-background {
    width: 80%;
  }
  
  .fun-item {
    display: flex;
    width: 40%;
    height: 140px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .fun-item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: cornflowerblue;
  }
  
  .fun-ball {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: crimson;
  }
  
  .fun-info {
    padding: 24px;
    font-size: 10pt;
  }
  
  .fun-info h4,
  p {
    margin: 0;
  }
  
  .highlight-background {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100%);
    background: crimson;
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    justify-content: center;
    align-items: center;
    margin: 32px;
  }
  
  .highlight-background h1,
  h4,
  p {
    margin: 8px;
  }
  